<h1>All Videos</h1>

<%= render 'search_form' %>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:alert] %> <!-- 追加部分 -->
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %> <!-- 追加部分終了 -->

<% if @videos.any? %>
  <div class="video-list">
    <% @videos.each do |video| %>
      <div class="video-item">
        <div class="video-thumbnail">
          <%= link_to image_tag("https://img.youtube.com/vi/#{video.video_id}/0.jpg", alt: video.title, class: "thumbnail-image"), video_path(id: video.id) %>
        </div>
        <div class="video-info">
          <h3><%= video.title %></h3>
          <p>Published at: <%= video.published_at ? video.published_at.to_time.strftime("%B %d, %Y") : "Not available" %></p>
          <p><%= link_to 'Details', video_path(id: video.id) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No videos found</p>
<% end %>
