<h1>動画検索</h1>
<%= render 'videos/search_form' %>

<% if @videos.present? %>
  <h2>検索結果</h2>
  <div class="video-list">
    <% @videos.each do |video| %>
      <div class="video-item">
        <%= image_tag video[:thumbnail_url], alt: video[:title] %>
        <h3><%= video[:title] %></h3>
        <p><%= video[:description] %></p>
        <p>Published at: <%= video[:published_at].to_time.strftime("%B %d, %Y") %></p>

        <% if user_signed_in? %>
          <% current_video = Video.find_by(api_video_id: video[:id]) %>
          <% if current_video && current_user.favorited?(current_video) %>
            <%= link_to 'Remove from Favorites', video_favorite_path(video_id: current_video.id), method: :delete, class: 'btn btn-danger' %>
          <% elsif current_video %>
            <%= link_to 'Add to Favorites', video_favorite_path(video_id: current_video.id), method: :post, class: 'btn btn-primary' %>
          <% else %>
            <span class="btn btn-secondary disabled">Add to Favorites</span>
          <% end %>
        <% end %>

        <p><%= link_to 'Details', video_path(id: video[:id]) %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>該当する動画はありません。</p>
<% end %>
