<h1>動画検索</h1>

<!-- 検索フォームのパーシャルを利用 -->
<%= render 'videos/search_form' %>

<!-- 検索結果の表示 -->
<% if @videos.present? %>
  <h2>検索結果</h2>
  <ul>
    <% @videos.each do |video| %>
      <li>
        <%= link_to video[:title], video_path(video[:url].split("v=").last) %> 
        <div>
          <img src="<%= video[:thumbnail_url] %>" alt="<%= video[:title] %>のサムネイル"> 
        </div>
        <p><%= video[:description].truncate(100) %> </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>該当する動画はありません。</p>
<% end %>
