<!-- app/views/videos/show.html.erb -->

<% if @video.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
    <ul>
    <% @video.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= link_to '感想一覧', reviews_path %></h2>

<p>
  <%= link_to 'Back to All Videos', videos_path %>
</p>

<%= render 'search_form' %>

<h1><%= @video_details.title || @video.title %></h1>

<div class="video-container text-center">
  <iframe id="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/<%= @video_details.video_id %>?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="review-form-container centered-form" style="width: 140%; margin-left: -20%; margin-right: -20%;">
  <%= form_for [@video, Review.new], html: { class: 'review-form', style: 'font-size: 1.2em;' }, data: { turbo: "false" } do |f| %>
    <%= f.hidden_field :video_id, value: @video.id %>
    <%= f.text_area :body, rows: 10, placeholder: "ここに感想を入力してください", class: 'review-text-area', style: 'width: 100%; height: 140%;' %> 
    <div class="submit-button" style="margin-top: 1em;">
      <%= f.submit "感想を記録する", class: "btn btn-primary", style: 'font-size: 0.7em;' %>
    </div>
  <% end %> 
</div>

<% @reviews.each do |review| %>
  <div class="review text-center">
    <p><%= review.body %></p>
    <% if review.play_time.present? %>
      <p>
        <a href="https://www.youtube.com/watch?v=<%= @video_details.video_id %>&t=<%= review.play_time.to_i %>s" target="_blank">この瞬間から見る</a>
      </p>
    <% end %>
    <% if current_user == review.user %>
      <p>
        <%= link_to 'Edit', edit_video_review_path(@video, review) %> |
      </p>
    <% end %>
    <small>Posted on <%= review.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small> 
  </div>
<% end %> 

<%= social_share_button_tag('Share to social networks') %>

<% if @review&.errors&.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="recommended-videos">
  <h3 class="text-center">おすすめの動画</h3>
  <ul>
    <% @recommended_videos.each do |video| %>
      <li class="recommended-video-item">
        <div class="recommended-thumbnail">
          <%= link_to image_tag("https://img.youtube.com/vi/#{video.video_id}/0.jpg", alt: video.title, class: "recommended-thumbnail-image"), video_path(video) %>
        </div>
        <div class="recommended-video-info">
          <p><%= link_to video.title, video_path(video) %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtube-player', {
      events: {
        'onReady': onPlayerReady
      }
    });
  }

  function onPlayerReady(event) {
    var reviewForm = document.querySelector('.review-form-container form');
    reviewForm.addEventListener('focusin', function() {
      var currentTime = player.getCurrentTime();
      var timeField = document.createElement('input');
      timeField.setAttribute('type', 'hidden');
      timeField.setAttribute('name', 'review[play_time]');
      timeField.setAttribute('value', currentTime);
      reviewForm.appendChild(timeField);
    });
  }
</script>
