<%# ページのタイトル %>
<h1>感想一覧</h1>

<%# ナビゲーションリンク %>
<%= link_to '動画検索ページへ戻る', videos_path %>

<%# キーワード検索フォーム %>
<%= form_with url: reviews_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :search, '検索キーワード' %>
    <%= form.text_field :search, value: params[:search] %>
    <%= form.submit '検索' %>
  </div>
<% end %>

<%# タイトル検索フォーム %>
<%= form_with url: reviews_path, method: :get, local: true, remote: true do %>
  <div>
    <%= label_tag :search, 'タイトル' %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag '検索' %>
  </div>
<% end %>

<%# 並べ替えフォーム %>
<%= form_with url: reviews_path, method: :get, local: true, remote: true do %>
  <div>
    <%= label_tag :sort, '並べ替え' %>
    <%= select_tag :sort, options_for_select([['降順', 'created_at DESC'], ['昇順', 'created_at ASC']], params[:sort]) %>
    <%= submit_tag '適用' %>
  </div>
<% end %>

<%# フォルダフィルタリングフォーム %>
<%= form_with url: reviews_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :folder_id, 'フォルダでフィルター' %>
    <%= f.collection_select :folder_id, current_user.folders, :id, :name, { include_blank: 'すべてのフォルダ' } %>
    <%= f.submit 'フィルター' %>
  </div>
<% end %>

<%# 感想の一覧表示 - カードレイアウト %>
<div id="reviews" class="review-cards">
  <%= render 'reviews_list', reviews: @reviews %>
</div>

<%# ページネーション %>
<%= paginate @reviews %>


