<%# ページのタイトル %>
<h1 class="text-center">感想一覧</h1>

<%# ナビゲーションリンク %>
<div class="text-center">
  <%= link_to '動画検索ページへ戻る', videos_path %>
</div>

<div class="text-center">
  <%# キーワード検索フォーム %>
  <div class="form-item">
    <%= form_with url: reviews_path, method: :get, local: true do |form| %>
      <%= form.label :search, '検索キーワード' %>
      <%= form.text_field :search, value: params[:search] %>
      <%= form.submit '検索' %>
    <% end %>
  </div>

  <%# タイトル検索フォーム %>
  <div class="form-item">
    <%= form_with url: reviews_path, method: :get, local: true, remote: true do %>
      <%= label_tag :title_search, 'タイトル' %>
      <%= text_field_tag :title_search, params[:title_search] %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>

  <%# 並べ替えフォーム %>
  <div class="form-item">
    <%= form_with url: reviews_path, method: :get, local: true, remote: true do %>
      <%= label_tag :sort, '並べ替え' %>
      <%= select_tag :sort, options_for_select([['降順', 'created_at DESC'], ['昇順', 'created_at ASC']], params[:sort]) %>
      <%= submit_tag '適用' %>
    <% end %>
  </div>

  <%# フォルダフィルタリングフォーム %>
  <div class="form-item">
    <%= form_with url: reviews_path, method: :get, local: true do |f| %>
      <%= f.label :folder_id, 'フォルダでフィルター' %>
      <%= f.collection_select :folder_id, current_user.folders, :id, :name, { include_blank: 'すべてのフォルダ' }, { id: 'folder_filter_select' } %>
      <%= f.submit 'フィルター' %>
    <% end %>
  </div>
</div>

<!-- 動的に更新される削除リンク -->
<%= link_to '削除', '#', id: 'folder-delete-link', method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-folder-link', style: 'display: none;' %>

<%# 感想の一覧表示 - カードレイアウト %>
<div id="reviews" class="review-cards">
  <%= render 'reviews_list', reviews: @reviews %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const folderFilterSelect = document.getElementById('folder_filter_select');
    const deleteLink = document.getElementById('folder-delete-link');

    folderFilterSelect.addEventListener('change', function() {
      const selectedFolderId = this.value;
      if (selectedFolderId) {
        deleteLink.href = `/folders/${selectedFolderId}`;
        deleteLink.style.display = 'inline';
      } else {
        deleteLink.style.display = 'none';
      }
    });
  });
</script>
