<!DOCTYPE html>
<html>
<head>
  <title>TubeReviews</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Stylesheet pack tag for Webpacker -->
  <!-- <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %> -->
  <%= turbo_include_tags %>
  <!-- <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %> -->

  <style>
    .flash-container {
      text-align: center;
      z-index: 10;
    }

    .flash {
      margin: 10px auto; /* 上下のマージンを追加 */
      padding: 10px;
      background-color: #fff3cd; /* 薄い黄色に変更 */
      border-color: #ffeeba;
      color: #856404;
      border-radius: 4px;
      width: 60%;
    }

    body {
      /* flash-container との間隔設定を削除 */
    }
  </style>

</head>
<body>
  <% if controller_name == 'sessions' && action_name == 'new' %>
    <div class="text-center py-3" style="background-color: blue; color: white; font-size: 24px;">
      TubeReviews
    </div>
  <% end %>
  
  <div class="flash-container">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>

  <%= yield %>
</body>
</html>
